* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", "sans-serif";
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    font-weight: 400;
    height: 100%;
    min-height: 100%;
}

.header {
    height: 30vh;
}

.header-bar {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}

.header-nav {
    margin-top: 1vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 5vw;
}

.header-nav a {
    text-decoration: none;
    font-weight: 500;
    color: #9F9F9F;
    font-size: 17px;
    text-align: center;
    transition: color .3s;
}

.header-nav a:hover, a.active {
    color: #000000;
}

.social {
    margin-bottom: 1vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.social a {
    margin: 0 1vw;
    min-width: 25px;
    text-align: center;
    opacity: 0.5;
    transition: opacity .3s;
}

.social a:hover {
    opacity: 1;
}

.banner {
    height: 70%;
    background-image: url("../res/img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page {
    margin: 0 3vw;
}

.articles {
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.articles a {
    text-decoration: none;
}

.articles a:hover {
    text-decoration: underline;
    color: #000000;
}

.articles article {
    margin: 10px 0 0 0;
    animation: slideDown 3s;
}

@keyframes slideDown {
    from {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.article-date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
}

.articles img {
    width: 100%;
    transition: transform .5s;
}

.articles img:hover {
    transform: scale(1.1);
}

.article-content p {
    text-align: justify;
    margin: 0;
}

.article-title {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    line-height: 1.1;
    font-family: "Cardo", serif;
    margin: 0 0 15px 0;
    text-align: center;
}

.article-title::after, .article-title::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #000000;
}

aside {
    background: #FBFBFB;
    padding-top: 40px;
    z-index: 1;
}

aside h4 {
    font-size: 30px;
    line-height: 0.7;
    margin: 35px 0px;
}

aside h4:first-child {
    margin-top: 0;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

aside li {
    padding: 6px 0;
}

aside li:first-child {
    padding-top: 0;
}

aside a {
    text-decoration: none;
    color: #9F9F9F;
}

aside a:hover {
    text-decoration: underline;
}

aside hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 40px 0;
}

@media only screen and (min-width: 800px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .header-bar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav {
        padding: 0;
        margin: 0 5vw;
        width: 60%;
    }
    
    .social {
        padding: 0;
        margin: 0;
        margin-right: 5vw;
        width: 40%;
        justify-content: flex-end;
    }

    .page {
        margin: 030vh 0 0 0;
        display: flex;
        flex-direction: column;
        flex: auto;
        overflow-y: auto;
    }

    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .articles article {
        display: flex;
        width: 100%;
        margin: 50px 0 0 0;
        text-align: justify;
    }

    .article-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .article-title {
        text-align: center;
    }
    .articles img {
        width: auto;
        margin-right: 25px;
    }
}

@media only screen and (min-width: 1100px) {
    .page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }    

    .articles {
        margin-right: 20vw;
    }

    .articles article {
        max-width: 940px;
    }

    aside {
        position: fixed;
        top: 30vh;
        right: 0;
        padding: 40px;
        width: 20vw;
    }
}

